* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.select {
  background-color: #338dc2;
  color: white;
}

/* Global styles for mobile */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #0073b7;
}

a:hover {
  color: #004d7a;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  margin-bottom: 15px;
}

img {
  width: 250px;
  height: 250px;
  display: block;
  margin: 15px 15px 0 0;
}

/* Header */
header {
  background-color: #0073b7;
  color: #fff;
  padding: 15px 20px;
  text-align: center;
  width: 100%;
}

header h1 {
  margin-top: 0;
  font-size: 24px;
  text-align: center;
}

/* Menu */
.secao-menu {
  background-color: #f7f7f7;
  padding: 15px 20px;
  width: 100%;
}

.secao-menu ul {
  list-style: none;
  padding: 0;
  display: block;
}

.secao-menu ul li {
  display: block;
  margin-bottom: 20px;
}

.secao-menu ul li a {
  font-size: 18px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #333;
  text-decoration: none;
}

.secao-menu ul li a:hover {
  background-color: #338dc2;
  transition: 0.5s;
}

section {
  width: fit-content;
}

section a {
  margin: 10px;
}

section a button {
  height: 30px;
  width: 80px;
  background-color: #338dc2;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

/* Main content */
.formFotos {
  width: fit-content;
  margin: 100px auto;
}

.formFotos button {
  width: 100%;
  font-size: 16px; /* Adjusted font size for smaller screens */
}

.formFotos input {
  font-size: 14px; /* Adjusted font size for smaller screens */
}
.biblioteca{
  width: fit-content;
  margin: auto;
}.biblioteca form input{
  width: 250px;
  height: 30px;
  background-color: rgb(228, 0, 0);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}.biblioteca form img{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

/* Media queries for larger screens */
@media screen and (min-width: 1440px) and (max-width: 2560px){
  .biblioteca{
    width: fit-content;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .formFotos input {
    font-size: 20px; /* Adjusted font size for smaller screens */
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px){
  .biblioteca{
    width: fit-content;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .formFotos input {
    font-size: 20px; /* Adjusted font size for smaller screens */
  }
}@media screen and (min-width: 768px) and (max-width: 930px){
  section {
    float: left; /* Re-enable float for larger screens */
  }
  .biblioteca{
    width: fit-content;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .formFotos input {
    font-size: 20px; /* Adjusted font size for smaller screens */
  }
}


@media screen and (min-width: 768px) {
  .secao-menu ul{display: flex;}
}