*{margin: 0; padding: 0;}
body{
    background: rgb(196, 189, 189); 
}
img{width: 100px;}
th{
    border-bottom: 2px solid black;
    padding: 10px;
    font-size: 30px;
}
td{
    text-align: center;
}
table{
    border: 2px solid black;
    width: 500px;
    height: 200px;
}
a{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
}

.topBar{
    background: rgb(34, 0, 255);
    display: flex;
}

.itens{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}