*{margin: 0; padding: 0;}
body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70dvh;
}
main{
    width: 1000px;
    height: 500px;
    border: 4px dotted #ccc;
    display: flex;
    justify-content: center;
    align-items: center;    
}
main>div{
    border: 2px solid black;
    width: 900px;
    height: 400px;
}
h2{
    margin: 20px;
}
p{
    margin: 5px;
}

#excluir{
    font-size: 25px;
    width: 100px;
    border-radius: 15px;
    background-color: red;
    margin-left: 380px;
}
#voltar{
    width: 100px;
    height: 30px;
    font-size: 25px;
    border-radius: 20px;
}

.chamado{
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;   
}
.grupo{
    height: 370px;
    overflow: auto;
}